*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* For Desktop */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


/* Nav-bar style starts here */
.nav-logo img{
    height: 150px;
    width: 150px;
}
.nav-logo{
    text-align: left;
}
.nav-logo img{
    height: 70px;
    width: 100px;
}
.nav-header h1{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}
/* Nav-bar style ends here */


/* Profile style starts here */

.profile-div img{
    height: 90px;
    width: 120px; 
 }
.profile-div .top-laptop-icon{ 
    right: 120px;
    width: 120px;
    transition: 1s;
    transition: width 2s transform 2s;
}
.profile-div .top-laptop-icon:hover{
    width: 140px;
}
.profile-div .bottom-laptop-icon{ 
    bottom: 20px;
    left: 140px;
    width: 120px;
    transition: 1s;
    transition: width 2s transform 2s;
}
.profile-div .bottom-laptop-icon:hover{
    width: 150px;
    height: 120px;
}
.profile-div h1{
    transition: 0.3s;
    font-size: 3rem;
}
.profile-div h1:hover{
    font-size: 3.4rem;
}
.profile-div p{
    width: 50%;
    transition: 0.5s;
    margin: 0 auto;
}
.profile-div p:hover{
    width: 50%;
    color: black;
    box-shadow: 0px 4px 8px 5px rgb(167, 167, 167);
    margin: 0 auto;
}

/* Profile style ends here */


/* About Me style starts here */

.about-me img{
    margin-top: 100px;
    height: 270px;
    width: 250px;
}
.about-me .about-me-desc p{
    text-align: left;
}

/* About Me style ends here */



/* professionalexperience starts here */
.professionalexperience{
    margin-bottom: 0px;
}

/* professionalexperience starts here */


/* Contact starts here */

.achievement{
    padding-right: 50px;
}
.contact button{
    width: 150px;
}

.media-button{
    margin-top: 130px;
}

/* Contact ends here */

/* Footer starts here  */

.footer-menu{
    margin-top: 12px;
}
.footer .footer-menu a{
    display: inline;
    margin: 10px;
}
/* Footer ends here  */